<%= form_for @project, html: { multipart: true, class: "form-horizontal center" } do |f| %>
	<div class="form-group">
		<%= f.label :name %><br>
		<%= f.text_field :name, class: "form-control" %><br>	
	</div>
	<div class="form-group">
		<%= f.label :description %><br>
		<%= f.text_area :description, class: "form-control" %><br>
	</div>
	<div class="form-group">
		<%= f.label :authors %><br>
		<%= f.text_field :authors, class: "form-control" %><br>	
	</div>	
	<div class="form-group">
		<%= f.label :url %><br>
		<%= f.text_field :url, class: "form-control" %><br>	
	</div>
	<div class="form-group">
		<%= f.label :photo %><br>
		<%= f.file_field :photo %><br>
	</div>

	<%= f.submit %>
	<%= button_to "cancel", people_path %>

<% end %>