<!DOCTYPE html>
<html>
  <head>
    <title>Kashkulistan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  </head>

  <body style="margin: 0">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to("projects", projects_path) %>
      <% if admin_signed_in? %>
        <%= link_to('Logout', destroy_admin_session_path, method: :delete) %>
      <% end %>
    </nav>
  	<main class="container">
    		<%= yield %>
    </div>
  </body>
</html>
